@font-face {
    font-family: 'Grotesk';
    src: url('fonts/ClashGrotesk-Variable.ttf') format('truetype');
    font-weight: 200 700;
    font-display: swap;
    font-style: normal;
    }
    @font-face {
    font-family: 'Satoshi';
    src: url('fonts/Satoshi-Variable.ttf') format('truetype');
    }
    @font-face {
    font-family: 'DINPro';
    src: url('fonts/DINPro.ttf') format('truetype');
    }

    body{
    margin: 0px;
    font-family: 'Satoshi', sans-serif;
    background-color: #252525;
    color: #ffffff;
    }

    .content {
        width: 80%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
    }

    .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1b1b1b;
    padding: 10px 20px;
    font-family: "DINPro";
    letter-spacing: -1px
    }
    .navbar-brand {
    color: #fff;
    font-family: "DINPro";
    font-size: 1.5rem;
    font-weight: bold;
    }
    .navbar-links {
    list-style: none;
    display: flex;
    gap: 5px;
    margin: 0;
    padding: 0px;
    }
    .navbar-links li a {
    color: #fff;
    font-family: "DINPro";
    text-decoration: none;
    font-weight: bold;
    padding: 10px 25px;
    transition: background-color 0.3s ease;
    }
    .navbar-links li a:hover {
    color: #1b1b1b;
    background-color: #FF99D5;
    }
    a{
    font-family: "DINPro";
    text-decoration:none;
    color: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .match-summary-container {
    background-size: cover;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    width: 100%;
    margin: 10px auto;
    padding: 10px 0 20px 0;
    box-sizing: border-box;
    border-radius: 25px;
    }
    .league-name {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
    text-transform: capitalize;
    }
    .match-date {
    font-size: 18px;
    font-weight: 200;
    margin-top: 5px;
    }
    .teams-and-scores {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Grotesk', sans-serif;
    font-size: 40px;
    font-weight: 700;
    margin: 10px 0;
    }
    .home-team-info{
    display: flex;
    flex: 0.4;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    }
    .mid-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    text-align: center;
    flex: 0.2;
    }
    .score{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    gap: 8px;
    }
    .away-team-info{
    flex: 0.4;
    justify-content: flex-start;
    display: flex;
    align-items: center;
    gap: 20px;
    }
    .home-team {
    text-transform: uppercase;
    text-align: right;
    }
    .away-team {
    text-transform: uppercase;
    text-align: left;
    }
    .team-logo{
    width: 90px;
    height: 90px;
    }
    .full-time {
    font-size: 20px;
    font-weight: bold;
    }
    .separator-line {
    width: 75%;
    height: 1px;
    background-color: #777;
    margin: 20px auto;
    }
    .goals-container {
    display: flex;
    padding: 0 calc(100% / 8);
    }
    .home-goals, .away-goals {
    display: flex;
    flex-wrap: wrap;
    width: 45%;
    font-size: 16px;
    line-height: 1.4;
    }
    .home-goals {
    justify-content: flex-end;
    text-align: right;
    padding-right: calc(100% / 10);
    }
    .away-goals {
    justify-content: flex-start;
    text-align: left;
    padding-left: calc(100% / 10);
    }
    .goal-row {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-bottom: 5px;
    width: 100%;
    }
    .away-goals .goal-row {
    justify-content: flex-start;
    }
    .goal-item {
    white-space: nowrap;
    }
    .match-ht-ft {
    font-size: 16px;
    margin-top: 30px;
    font-weight: 400;
    text-align: center;
    }

    .card-header-with-shadow {
    font-size: 24px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 30px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    }
    .card-header-with-shadow::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: -30px;
    inset-inline-start: 0;
    background: radial-gradient(
    90% 20px at 50% 0,
    rgba(25, 25, 25, 1) 0,
    rgba(25, 25, 25, 0.5) 25%,
    rgba(25, 25, 25, 0) 50%
    );
    }

    .first_row {
    display: flex;
    justify-content: space-between;
    }
    .match_extra_details {
    padding: 0px 15px 5px 15px;
    margin: 0;
    background-color: #333333;
    border-radius: 25px;
    }
    .detail_items{
    padding-left: 15px;
    }
    .detail-item {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-bottom: 10px;
    }
    .detail-item i {
    color: #ffffff;
    font-size: 22px;
    width: 24px;
    text-align: center;
    flex-shrink: 0;
    }
    .detail-item span {
    font-size: 18px;
    text-transform: capitalize;
    }
    .detail-item span.small-text {
    font-size: 14px;
    color: white;
    }
    .detail-item:not(:last-child) {
    border-bottom: 1px solid #1b1b1b;
    padding-bottom: 10px;
    margin-top: 10px; margin-bottom: 10px;
    }

    .starting-XI{
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        margin: 0;
        background-color: #333333;
        border-radius: 25px;
        }
        .last-5-matches {
        display: flex;
        flex-direction: column;
        gap: 15px;
        background-color: #333333;
        padding: 0px 15px 30px 15px;
        border-radius: 25px;
        }
        .match-row {
        padding-left: 15px;
        display: flex;
        align-items: center;
        gap: 20px;
        }
        .team-label {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        width: 30px;
        }
        .match-results {
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 10px;
        }
        .match-results li {
        font-size: 18px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        width: 30px;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        background-color: #444;
        }
        .match-results li.win {
        background-color: #47C252;
        }
        .match-results li.loss {
        background-color: #D74A4A;
        }

    .side-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 0.23;
    align-items: stretch;
    margin-bottom: 20px;
    }
    .match_extra_details,
    .last-5-matches {
    height: auto;
    flex: none;
    }
    .outer-stats-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 25px;
    flex: 0.75;
    gap: 35px;
    }
    .stats-container {
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-radius: 25px;
    color: #fff;
    }
    .stats-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 16px;
    font-weight: bold;
    padding-right: 45px;
    padding-left: 45px;
    }
    .away-value {
    width: 50px;
    text-align: right;
    }
    .home-value {
    width: 50px;
    text-align: left;
    }
    .metric-name {
    flex-grow: 1;
    text-align: center;
    }
    .bar-row {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15px;
    }
    .bar-container {
    position: relative;
    height: 12px;
    width: 46%;
    background-color: #1b1b1b;
    border-radius: 8px;
    overflow: hidden;
    }
    .bar-container.left {
    direction: rtl;
    margin-left: 20px;
    }
    .bar-container.right {
    margin-right: 20px;
    }
    .bar-container.left .bar {
    background-color: #ff6c37;
    height: 100%;
    border-radius: 8px;
    text-align: right;
    }
    .bar-container.right .bar {
    background-color: #6C83FF;
    height: 100%;
    border-radius: 8px;
    text-align: right;
    }
    .event-name {
    width: 100px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    color: #ffff;
    margin-right: 10px;
    }
    .text-line{
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    }
    .period-separator-line {
    height: 1px;
    flex: 0.4;
    background-color: #ccc;
    }
    .text-line span{
    flex: 0.2;
    text-align: center;
    }
    .player-row {
    display: flex;
    align-items: center;
    margin-left: 3px;
    width: 100%;
    padding: 6px 0px;
    }
    .player-country-container{
    padding-left: 15px;
    }
    .player-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fbfbfb;
    border: 3px solid #C0C0C2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    }
    .player-image img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    }
    .player-country {
    position: absolute;
    bottom: -5px;
    right: -7px;
    z-index: 10;
    }
    .player-country img {
    width: 20px;
    height: auto;
    border-radius: 3px;
    box-shadow: 1px 1px 6px rgb(248, 248, 248,0.3);
    }
    .player-position {
    width: 22px;
    padding-left: 20px;
    }
    .player-name {
    padding-left: 15px;
    font-size: 18px;
    }
    .v-separator {
    width: 1px;
    height: 40px;
    background-color: #C0C0C2;
    margin-left: 15px;
    }
    .tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid #444;
    width: 92%;
    align-self: center;
    }
    .tab-link {
    flex: 1;
    text-align: center;
    padding: 15px 0;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease;
    }
    .tab-team-name {
    font-size: 16px;
    font-weight: bold;
    color: white;
    transition: color 0.3s ease;
    }
    .tab-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #444;
    transition: background-color 0.3s ease, height 0.3s ease;
    }
    .tab-link.active[data-tab="home"] .tab-team-name {
    color: #47C252;
    }
    .tab-link.active[data-tab="home"]::after {
    height: 4px;
    background-color: #47C252;
    }
    .tab-link.active[data-tab="away"] .tab-team-name {
    color: #7A84FF;
    }
    .tab-link.active[data-tab="away"]::after {
    height: 4px;
    background-color: #7A84FF;
    }
    .tab-content {
    display: none;
    padding: 10px;
    }
    .tab-content.active {
    display: block;
    }
    .form-guide-container {
    display: flex;
    flex-direction: column;
    padding-bottom: 25px;
    padding: 0 15px 25px 15px;
    background-color: #333333;
    border-radius: 25px;
    }
    .form-guides {
    display: grid;
    grid-template-areas: "home-name away-name"
    "home-matches away-matches";
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    justify-content: space-evenly;
    }
    .form-home-guide{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    grid-area: home-matches;
    }
    .form-away-guide{
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: center;
    grid-area: away-matches;
    }
    .guide-home-name{
    display: grid;
    place-items: center;
    grid-area: home-name
    }
    .guide-away-name{
    display: grid;
    place-items: center;
    grid-area: away-name
    }
    .form-guide-teams {
    display: contents;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    grid-column: span 1;
    white-space: normal;
    word-break: normal;
    overflow-wrap: normal;
    padding: 10px;
    }
    .form-card {
    display: flex;
    border: 2px solid;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    position: relative;
    justify-content: center;
    align-items: center;
    }
    .form-card.win {
    border-color: #1CBB79;
    }
    .form-card.loss {
    border-color: #FF2F54;
    }
    .form-card.win:hover {
    background-color: #1CBB79
    }
    .form-card.loss:hover {
    background-color: #FF2F54
    }
    .form-card-result {
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF2F54;
    color: #F0F0F0;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    }
    .form-card.win .form-card-result {
    background-color: #1CBB79;
    }
    .form-card-content {
    display: grid;
    grid-template-areas:
    "home-score line away-score"
    "home-logo . away-logo"
    ". date .";
    align-items: center;
    justify-content: center;
    }
    .form-home-score {
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bold;
    grid-area: home-score;
    }
    .form-away-score {
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bold;
    grid-area: away-score;
    }
    .form-line-score {
    display: grid;
    place-items: center;
    font-size: 30px;
    font-weight: bold;
    grid-area: line;
    }
    .form-home-logo {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    padding-top: 10px 0px ;
    grid-area: home-logo;
    }
    .form-away-logo {
    display: grid;
    place-items: center;
    width: 30px;
    height: 30px;
    padding-top: 10px 0px ;
    grid-area: away-logo;
    }
    .form-card-date {
    display: grid;
    place-items: center;
    grid-area: date;
    font-size: 14px;
    font-weight: 500;
    color: white;
    text-align: center;
    }
    .container{
    display: flex;
    flex-direction: column;
    background-color: #333333;
    border-radius: 25px;
    margin-bottom: 10px;
    flex: 0.75;
    padding-bottom: 25px 0;
    }
    .period-container{
    display: flex;
    flex-direction: column;
    padding: 0 150px;
    }
    .period-info{
    padding: 15px 0;
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    font-weight: 600;
    }
    .row {
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 3%;
    position: relative;
    height: 5vh;
    }
    .home-part, .away-part {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    gap: 4%;
    }
    .home-part {
    justify-content: flex-end;
    }
    .event-details {
    display: flex;
    flex-direction: column;
    }
    .details-up{
    font-weight: 600;
    font-size: 18px;
    }
    .event-details.home {
    text-align: right;
    }
    .away-part.empty {
    visibility: hidden;
    }
    .home-part.empty {
    visibility: hidden;
    }
    .minute-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    }
    .minute {
    height: 5vh;
    width: 5vh;
    text-align: center;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #252525;
    border-radius: 40%;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    z-index: 1;
    }
    .minute-container::after {
    content: '';
    position: absolute;
    top: 0px;
    bottom: -5vh;
    width: 2px;
    background-color: #ccc;
    z-index: 0;
    }
    .period-container > .row:nth-last-of-type(1) .minute-container::after {
    display: none;
    }
    .current-score{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 25px;
    align-items: center;
    gap: 2px;
    font-size: 12px;
    }
    .home-part .away-part{
    gap: 10px;
    }
    .away-part .icon-away{
    width: 25px;
    }
    .home-part .icon-home{
    width: 25px;
    }
    .main-tab-controls{
    margin: 20px 0;
    }
    .main-tab-controls .main-tab-links {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    }
    .main-tab-controls .main-tab-link {
    text-align: left;
    padding: 10px;
    border: none;
    background: none;
    color: #ffffff;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    position: relative;
    transition: color 0.3s ease;
    }
    .main-tab-controls .main-tab-link:hover {
    color: #6C83FF;
    }
    .main-tab-controls .main-tab-link.active {
    color: #6C83FF;
    font-weight: bold;
    }
    .main-tab-controls .main-tab-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: transparent;
    transition: background-color 0.3s ease;
    }
    .main-tab-controls .main-tab-link:hover::after {
    background-color: #6C83FF;
    }
    .main-tab-controls .main-tab-link.active::after {
    background-color: #6C83FF;
    }
    .main-tabs {
    flex: 0.75;
    }
    .main-tabs .main-tab-contents {
    display: flex;
    flex-direction: column;
    }
    .main-tabs .main-tab-content {
    display: none;
    }
    .main-tabs .main-tab-content.active {
    display: block;
    }

    .coordinates-container{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 25px;
    flex: 0.75;
    gap: 35px;
    }
    .field-content{
    flex: 0.5;
    position: relative;
    width: 420px;
    height: 272px;
    }
    .stats-coordinate-container{
    display: flex;
    flex-direction: row;
    background-color: #333333;
    border-radius: 25px;
    align-items: center;
    color: #fff;
    justify-content: center;
    gap: 50px;
    }
    .shot-controls {
    display: flex;
    align-items: center;
    margin: 15px 0;
    flex: 0.5;
    justify-content: center;
    }
    .arrow-btn {
    background-color: #1b1b1b;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px 12px;
    cursor: pointer;
    font-size: 18px;
    margin: 0 10px;
    }
    .arrow-btn:hover {
    background-color: white;
    color: #1b1b1b;
    }
    #shot-minute {
    margin: 0 15px;
    font-size: 18px;
    font-weight: bold;
    }
    .shot-details {
    font-size: 16px;
    margin-top: 10px;
    text-align: center;
    flex: 0.5;
    }
    .shot-details p {
    margin: 5px 0;
    }
    .shot-circle {
    opacity: 0.5;
    transition: opacity 0.3s ease, transform 0.3s ease;
    }
    .shot-circle:hover {
    opacity: 1;
    cursor: pointer;
    }
    .shot-circle.active {
    opacity: 1;
    }
    .static-text {
    font-weight: bold;
    }
    .shot-details-controls{
    display: flex;
    flex-direction: column;
    flex: 0.3
    }