<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match Details</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='match_details.css') }}">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-brand"><a href="#home">FootDATA</a></div>
        <ul class="navbar-links">
            <li><a href="#about">LEAGUES</a></li>
            <li><a href="#services">TEAMS</a></li>
            <li><a href="#contact">MATCHES</a></li>
            <li><a href="#contact">ABOUT</a></li>
        </ul>
    </nav>
    <div class="match-content">
        <span class="home-name">{{ match[5] }}</span>
        <div class="score-container">
            <div class="leaguename">{{ match[9] }}</div>
            <div class="score">
                <span class="home-score">{{ match[10] }}</span>:<span class="away-score">{{ match[11] }}</span>
            </div>
            <div class="match-date">{{ match[8] }}</div>
        </div>
        <span class="away-name">{{ match[6] }}</span>
    </div>
    <div class="stats-container">
        {% for event in event_widths %}
        <div class="stats-row">
            <div class="event-name">
                <span>{{ event.eventname }}</span>
            </div>

            <div class="home-stat">
                <span class="stat-value">{{ event.home_count }}</span>
            </div>

            <div class="bar-container">
                <div class="bar home-bar" style="width: {{ event.home_width }}%;"></div>
                <div class="bar away-bar" style="width: {{ event.away_width }}%;"></div>
            </div>

            <div class="away-stat">
                <span class="stat-value">{{ event.away_count }}</span>
            </div>
        </div>
        {% endfor %}
    </div>
    <h1>Match Shot Visualization</h1>
    <div class="field-container">

        <div class="field">
            <svg width="100%" height="100%" viewBox="0 0 105 68" xmlns="http://www.w3.org/2000/svg">
                {% for shot in home_shots %}
                <circle cx="{{ shot.x }}" cy="{{ shot.y }}" r="1.5" fill="white" />
                {% endfor %}
            </svg>
        </div>

        <div class="field">
            <svg width="100%" height="100%" viewBox="0 0 105 68" xmlns="http://www.w3.org/2000/svg">
                {% for shot in away_shots %}
                <circle cx="{{ shot.x }}" cy="{{ shot.y }}" r="1.5" fill="white" />
                {% endfor %}
            </svg>
        </div>
    </div>
    
    
</body>
</html>
