<div class="match-details">
    <div class="card-header-with-shadow">Details</div>
    <div class="match-details__items">
        <div class="match-details__item">
            <i class="fa-solid fa-location-dot"></i>
            <span>{{ match.city }} , {{ match.country }}</span>
        </div>
        <div class="match-details__item">
            <i class="fa-solid fa-trophy"></i>
            <span>{{ match.league }}</span>
        </div>
        <div class="match-details__item">
            <i class="fa-solid fa-calendar-days"></i>
            <span>{{ match.date.strftime("%d %b %Y - %H:%M") }}</span>
        </div>
        <div class="match-details__item">
            <i class="fa-solid fa-futbol"></i>
            <span>{{ match.stadium }}
                <span class="match-details__small-text">({{ match.capacity }}
                    Seats)</span>
            </span>
        </div>
    </div>
</div>