<div class="starting-lineup">
    <div class="card-header-with-shadow">Starting Line Ups</div>

    <div class="starting-lineup__tabs">
        <button
            class="starting-lineup__tab-link starting-lineup__tab-link--active"
            data-tab="home">
            <div class="starting-lineup__tab-team-name">{{ match.home_name
                }}</div>
        </button>
        <button class="starting-lineup__tab-link" data-tab="away">
            <div class="starting-lineup__tab-team-name">{{ match.away_name
                }}</div>
        </button>
    </div>

    <div
        class="starting-lineup__tab-content starting-lineup__tab-content--active"
        id="home">
        {% for player in home_XI %}
        <div class="starting-lineup__player-row">
            <div class="starting-lineup__player-country-container">
                <div class="starting-lineup__player-image">
                    <img src="{{ player_images[player.id] }}">
                    <div class="starting-lineup__player-country">
                        <img
                            src="{{ url_for('static', filename='images/Flags/' + player.country_id|string + '.png') }}">
                    </div>
                </div>
            </div>
            <div class="starting-lineup__player-position">{{ player.position
                }}</div>
            <div class="starting-lineup__separator"></div>
            <a
                href="{{ url_for('player.get_player', id=player.id) }}">
                <div class="starting-lineup__player-name">{{ player.name
                    }}</div>
            </a>
        </div>
        {% endfor %}
    </div>

    <div class="starting-lineup__tab-content" id="away">
        {% for player in away_XI %}
        <div class="starting-lineup__player-row">
            <div class="starting-lineup__player-country-container">
                <div class="starting-lineup__player-image">
                    <img src="{{ player_images[player.id] }}">
                    <div class="starting-lineup__player-country">
                        <img
                            src="{{ url_for('static', filename='images/Flags/' + player.country_id|string + '.png') }}">
                    </div>
                </div>
            </div>
            <div class="starting-lineup__player-position">{{ player.position
                }}</div>
            <div class="starting-lineup__separator"></div>
            <a
                href="{{ url_for('player.get_player', id=player.id) }}">
                <div class="starting-lineup__player-name">{{ player.name
                    }}</div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>