<div class="coordinates-container">
    <div class="stats-coordinate-container">
        <div class="field-content">
            <svg width="100%" height="100%" viewBox="0 0 105 68"
                xmlns="http://www.w3.org/2000/svg">
                {% include "stats/field.html" %}
                {% for shot in shots %}
                <circle cx="{{ shot.x_coordinate }}"
                    cy="{{ shot.y_coordinate }}" r="1.5" fill="white"
                    class="shot-circle" data-index="{{ loop.index0 }}"></circle>
                {% endfor %}
                <circle id="highlight-circle" cx="0" cy="0" r="3" fill="none"
                    stroke="red" stroke-width="0.5"
                    style="display: none;"></circle>
            </svg>
        </div>
        <div class="shot-details-controls">
            <div class="shot-controls">
                <button id="prev-shot" class="arrow-btn">&lt;</button>
                <span id="shot-minute">00'</span>
                <button id="next-shot" class="arrow-btn">&gt;</button>
            </div>
            <div class="shot-details">
                <p><span class="static-text">Player Name:</span> <span
                        id="shot-player-name">-</span></p>
                <p><span class="static-text">Result:</span> <span
                        id="shot-result">-</span></p>
                <p><span class="static-text">Situation:</span> <span
                        id="shot-situation">-</span></p>
            </div>
        </div>
    </div>
</div>