<div class="outer-stats-container">

    <div class="stats-container">
        <div class="card-header-with-shadow">Match
            Overview</div>
        {% for event in summary_widths %}
        <div class="stats-header">
            <div class="home-value">{{
                event.home_count }}</div>
            <div class="metric-name">{{ event.metric
                }}</div>
            <div class="away-value">{{
                event.away_count }}</div>
        </div>
        <div class="bar-row">
            <div class="bar-container left">
                <div class="bar home-bar"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div class="bar-container right">
                <div class="bar away-bar"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="stats-container">
        <div
            class="card-header-with-shadow">Shot</div>
        {% for event in shot_widths %}
        <div class="stats-header">
            <div class="home-value">{{
                event.home_count }}</div>
            <div class="metric-name">{{ event.metric
                }}</div>
            <div class="away-value">{{
                event.away_count }}</div>
        </div>
        <div class="bar-row">
            <div class="bar-container left">
                <div class="bar home-bar"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div class="bar-container right">
                <div class="bar away-bar"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="stats-container">
        <div
            class="card-header-with-shadow">Pass</div>
        {% for event in pass_widths %}
        <div class="stats-header">
            <div class="home-value">{{
                event.home_count }}</div>
            <div class="metric-name">{{ event.metric
                }}</div>
            <div class="away-value">{{
                event.away_count }}</div>
        </div>
        <div class="bar-row">
            <div class="bar-container left">
                <div class="bar home-bar"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div class="bar-container right">
                <div class="bar away-bar"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="stats-container">
        <div
            class="card-header-with-shadow">Defence</div>
        {% for event in def_widths %}
        <div class="stats-header">
            <div class="home-value">{{
                event.home_count }}</div>
            <div class="metric-name">{{ event.metric
                }}</div>
            <div class="away-value">{{
                event.away_count }}</div>
        </div>
        <div class="bar-row">
            <div class="bar-container left">
                <div class="bar home-bar"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div class="bar-container right">
                <div class="bar away-bar"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>