<div class="match-stats">

    <div class="match-stats__section">
        <div class="card-header-with-shadow">Match Overview</div>
        {% for event in summary_widths %}
        <div class="match-stats__header">
            <div class="match-stats__value match-stats__value--home">{{
                event.home_count }}</div>
            <div class="match-stats__metric">{{ event.metric }}</div>
            <div class="match-stats__value match-stats__value--away">{{
                event.away_count }}</div>
        </div>
        <div class="match-stats__bar-row">
            <div
                class="match-stats__bar-container match-stats__bar-container--left">
                <div class="match-stats__bar match-stats__bar--home"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div
                class="match-stats__bar-container match-stats__bar-container--right">
                <div class="match-stats__bar match-stats__bar--away"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="match-stats__section">
        <div class="card-header-with-shadow">Shot</div>
        {% for event in shot_widths %}
        <div class="match-stats__header">
            <div class="match-stats__value match-stats__value--home">{{
                event.home_count }}</div>
            <div class="match-stats__metric">{{ event.metric }}</div>
            <div class="match-stats__value match-stats__value--away">{{
                event.away_count }}</div>
        </div>
        <div class="match-stats__bar-row">
            <div
                class="match-stats__bar-container match-stats__bar-container--left">
                <div class="match-stats__bar match-stats__bar--home"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div
                class="match-stats__bar-container match-stats__bar-container--right">
                <div class="match-stats__bar match-stats__bar--away"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="match-stats__section">
        <div class="card-header-with-shadow">Pass</div>
        {% for event in pass_widths %}
        <div class="match-stats__header">
            <div class="match-stats__value match-stats__value--home">{{
                event.home_count }}</div>
            <div class="match-stats__metric">{{ event.metric }}</div>
            <div class="match-stats__value match-stats__value--away">{{
                event.away_count }}</div>
        </div>
        <div class="match-stats__bar-row">
            <div
                class="match-stats__bar-container match-stats__bar-container--left">
                <div class="match-stats__bar match-stats__bar--home"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div
                class="match-stats__bar-container match-stats__bar-container--right">
                <div class="match-stats__bar match-stats__bar--away"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="match-stats__section">
        <div class="card-header-with-shadow">Defence</div>
        {% for event in def_widths %}
        <div class="match-stats__header">
            <div class="match-stats__value match-stats__value--home">{{
                event.home_count }}</div>
            <div class="match-stats__metric">{{ event.metric }}</div>
            <div class="match-stats__value match-stats__value--away">{{
                event.away_count }}</div>
        </div>
        <div class="match-stats__bar-row">
            <div
                class="match-stats__bar-container match-stats__bar-container--left">
                <div class="match-stats__bar match-stats__bar--home"
                    style="width: {{ event.home_width }}%; opacity: {{ '1' if event.home_width >= event.away_width else '0.4' }};"></div>
            </div>
            <div
                class="match-stats__bar-container match-stats__bar-container--right">
                <div class="match-stats__bar match-stats__bar--away"
                    style="width: {{ event.away_width }}%; opacity: {{ '1' if event.away_width >= event.home_width else '0.4' }};"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>