<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Match</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Match Information</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('player.get_players') }}">Players</a></li>
                <li><a href="{{ url_for('stadium.get_stadiums') }}">Stadiums</a></li>
                <li><a href="{{ url_for('match.get_matches') }}">Matches List</a></li>
                <li><a href="{{ url_for('country.get_countries') }}">Countries</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            {% if matches %}
                <h2>Matches:</h2>
                <ul>
                    {% for match in matches %}
                        <li>{{ match }}</li>
                    {% endfor %}
                </ul>
            {% elif match %}
                <h2>Match Details:</h2>
                <p>{{ match }}</p>
            {% else %}
                <p>No matches available.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>
