<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stadium</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <h1>Stadium Information</h1>
        <nav>
            <ul>
                <li><a href="{{ url_for('player.get_players') }}">Players</a></li>
                <li><a href="{{ url_for('stadium.get_stadiums') }}">Stadiums List</a></li>
                <li><a href="{{ url_for('match.get_matches') }}">Matches</a></li>
                <li><a href="{{ url_for('country.get_countries') }}">Countries</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section>
            {% if stadiums %}
                <h2>Stadiums:</h2>
                <ul>
                    {% for stadium in stadiums %}
                        <li>{{ stadium }}</li>
                    {% endfor %}
                </ul>
            {% elif stadium %}
                <h2>Stadium Details:</h2>
                <p>{{ stadium }}</p>
            {% else %}
                <p>No stadiums available.</p>
            {% endif %}
        </section>
    </main>
</body>
</html>
