{% extends "base.html" %}

{% block title %}Stadium Details{% endblock %}

{% block stylesheets %}
<link rel="stylesheet"
    href="{{ url_for('static', filename='stadium_style.css') }}">
{% endblock %}

{% block content %}
{% if stadium %}
<div>
    <div class="stadium-container">
        <div class="stadium-img"
            style="background-image: url('{{ url_for('static', filename='images/stadiums/' + stadium.stadium_id|string + '.png') }}')">
        </div>
        <div class="stadium-info">

            <div class="stadium-name">{{stadium.name}}</div>
            <div class="stadium-nationality">
                <img
                    src="{{ url_for('static', filename='images/Flags/' + stadium.country_id|string + '.png') }}"
                    class="nationality-flag">
                <span>{{stadium.city}}, {{stadium.country}}</span>
            </div>

        </div>
    </div>

    <div class="stadium-stats-container">
        <div class="stat-item">
            <span class="stat-value" id="capacity"
                data-target="{{stadium.capacity}}"></span>
            <span class="stat-label">Seats</span>
        </div>
    </div>

    <div class="stadium-matches">
        <div class="content-header" id="played-matches">PLAYED MATCHES</div>

        <table class="matches-table">
            <thead class="matches-table-thead">
                <tr>
                    <th>date</th>
                    <th>competition</th>
                    <th>home</th>
                    <th>score</th>
                    <th>away</th>
                </tr>
            </thead>
            <tbody>
                {% for match in match_history %}
                <tr class="matches-table-row">
                    <td class="table-date">{{ match[1].strftime("%d %b %Y")
                        }}</td>
                    <td class="table-comp">{{ match[7] }}</td>
                    <td class="table-team"><a
                            href="{{ url_for('club.get_club', id=match[5]) }}">{{
                            match[2] }}</a></td>
                    <td class="table-score"><a
                            href="{{ url_for('home.get_match', id=match[0]) }}">{{
                            match[3] }}</a></td>
                    <td class="table-team"><a
                            href="{{ url_for('club.get_club', id=match[6]) }}">{{
                            match[4] }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    <script src="/static/js/stadium_animation.js"></script>
</div>
{% else %}
<p>{{ error }}</p>
{% endif %}
{% endblock %}
